:root {
  --header-size: 3rem;
  --right-panel-width: 40vw;
}


* {
  box-sizing: border-box;
}


.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}


.tabs-container {
  display: flex;
  flex-direction: column;
  width: var(--right-panel-width);
}


.tab-header {
  display: flex;
  flex-direction: row;
  height: var(--header-size);
  margin: 0;
  padding: 0;
}


.tab-item {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  list-style-type: none;
}


.tab-item.active {
  border-bottom: 2px solid cornflowerblue;
}


.tab-item:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
}


.tab-content {
  height: 100%;
  flex-direction: column;
}


.chat-container, .map-container, .leaflet-container {
  height: calc(100vh - var(--header-size));
  width: var(--right-panel-width);
}


.chat-container {
  background-color: #f7f7f7;
  border-left: 1px solid #ccc;
}


.movie-container {
  width: calc(100vw - var(--right-panel-width));
}

.movie {
  height: 100vh;
}

.movie video {
  width: 100%;
  max-height: calc(100% - 10rem)!important;
  max-width: 100%!important;
}


.movie ul {
  overflow-y: scroll;
  padding: 0 0 1rem 0;
  margin: 0;
}

.movie li {
  cursor: pointer;
  padding: 1rem;
}

.movie li:hover {
  background-color: rgba(0, 0, 0, .2);
}




.chat-messages-container {
  overflow-y: scroll;
  height: calc(100vh - var(--header-size) - 4rem);
}


.chat-container:not(.active), .map-container:not(.active) {
  display: none;
  width: 0;
}


.map-container.active .leaflet-container {
  width: var(--right-panel-width);
}


.message {
  margin: 1.5em;
}


.message{
  box-sizing: border-box;
  min-height: 2.25rem;
  width: fit-content;
}


.message-content {
  width: fit-content;
  padding: 0.5rem 1rem;
  background: #FFF;
  border-radius: 1.125rem 1.125rem 1.125rem 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}


.chat-container .timestamp {
  font-size: 0.6rem;
  color: #555;
  margin-top: .4rem;
}


.chat-container .message-name {
  font-size: 0.8rem;
  margin-left: .8rem;
  margin-bottom: .4rem;
  color: #555;
}


.my-message {
  margin: 1rem 1rem 1rem auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}


.my-message .message-content {
  color: white;
  background: #333;
  border-radius: 1.125rem 1.125rem 0 1.125rem;
}


.my-message .message-name {
  margin-right: .8rem;
}


.chat-container form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  background-color: #f0f0f0;
}


.chat-container input {
  border:none;
  background-image:none;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}


.chat-container button {
  border: none;
  background-image: none;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 1.125rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}
