
.chat-container {
    background-color: #f7f7f7;
    border-left: 1px solid #ccc;
}


.chat-messages-container {
    overflow-y: scroll;
    height: calc(100vh - var(--header-size) - var(--input-size));
}


.chat-container:not(.active), .map-container:not(.active) {
    display: none;
    width: 0;
}


.message {
    margin: 1.5em;
}


.message {
    box-sizing: border-box;
    min-height: 2.25rem;
    width: fit-content;
}


.message-content {
    width: fit-content;
    padding: 0.5rem 1rem;
    background: #FFF;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}


.chat-container .timestamp {
    font-size: 0.6rem;
    color: #555;
    margin-top: .4rem;
}


.chat-container .moment {
    font-size: 0.8rem;
    color: #333;
    margin-top: .4rem;
}


.chat-container .moment span {
    color: cornflowerblue;
    cursor: pointer;
}


.chat-container .message-name {
    font-size: 0.8rem;
    margin-left: .8rem;
    margin-bottom: .4rem;
    color: #333;
}


.my-message {
    margin: 1rem 1rem 1rem auto;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}


.my-message .message-content {
    color: white;
    background: #333;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
}


.my-message .message-name {
    margin-right: .8rem;
}


.chat-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: var(--input-size);
    background-color: #f0f0f0;
    padding: 0 1rem .5rem 1rem;
}


.chat-container .moment-row {
    display: flex;
    align-items: center;
}

.chat-container form .input-row {
    display: flex;
    align-items: center;
}


.chat-container form label {
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    color: #555;
}


.chat-container form input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    flex-grow: 0 !important;
}


.chat-container input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.chat-container input:first-child {
    max-width: 33%;
}

.chat-container button {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 1.125rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
}
